.panel-body {
  padding: 10px;
}
.form-control, .medium-editor-element {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn.btn-default, .btn.btn-danger, .glyphicon {
  margin-right: 5px;
}


