.loading
  .load-circle

.button-top[data-scroll-nav="0"]
  span
    i.fa.fa-angle-up[aria-hidden="true"]

= render "_navbar.html"
= render "_main_title.html"
= render "_hero.html"
= render "_resume.html"
= render "_numbers.html"
/ = render "_services.html"
/ = render "_clients.html"
/ = render "_portfolio.html"
/ = render "_hire.html"
= render "_blog.html"
= render "_contact.html"










